html {
    box-sizing:border-box
}

*,*:before,*:after {
    box-sizing:inherit
}

body {
    margin:0;
    color: white;
}

a   {
    background-color:transparent;
    text-decoration: none;
    color: inherit;
}

a:active,a:hover{
        outline-width:0
}

button,input,select,textarea{
    font-family: 'Playfair Display', serif;
    margin:0
}

img {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: relative;

}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.title-text {
    font-size: 4vw;
    position: absolute;
    top: 60%;
    left: 21%;
    transform: translate(-50%, -50%);
    color: white;
}

.desc-text{
    font-size: 2.5vw;
    font-style: italic;
    position: absolute;
    top: 71%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: white;
}

p,li {
    font-family: 'Playfair Display', serif;
}

.content {
        max-width:980px;
        margin:auto;
        background-color:  #e4ebe0;
}

* {
    box-sizing: border-box;
}
.row::after, .row::before {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
    float: left;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-right {width: 50%;}
    .col-left {width: 50%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-right {width: 50%;}
    .col-left {width: 50%;}
}

.option-button {
    float:left;
    border: 1px solid #7a9b66;
    display: inline-block;
    border-radius: 4px;
    background-color: #afc3a2;
    font-weight: bold;
    font-size: inherit;
    text-align: center;
    font-size: inherit;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    color: white;
}

.option-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.option-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.option-button:hover span {
    padding-right: 25px;
        color: #617b51;
}

.option-button:hover span:after {
    opacity: 1;
    right: 0;
}

.option-button.two {
    width: 50%;
}

.option-button.three {
    width: 33.33%;
}

.option-button:hover {
    background-color: white;
}

.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Raleway";
    background-color: #e4ebe0;
    color: black;
}

.main-entry {
    margin: 16px!important;
    color: white;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #7a9b66;
    padding: 5px;
}

.side-entry {
    color: white;
    margin: 16px!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #7a9b66;
    padding: 10px 10px 100px 10px;
}